<p><%= @user.name %>,</p>

<p>Thank you for joining whoactually.com - the platform for all Creators to own and manage their Credits and get the public recognition they deserve.</p> 

<p><a href="http://staging.hoovue/users/<%= @user.id %>">Your hoovue profile</a> - claim your Credits and start building your profile.</p></p>


<p><%= link_to root_url %></p>