<div class="container_12">
	
	<h1>Hoovue.com Search</h1>
	<div class="search">
<%= form_tag search_path, :method => 'get' do %>
  <p>
  	
  <%= text_field_tag :search, params[:search], data: {autocomplete_source: Product.order(:title).map(&:title)} %>
     <%= submit_tag "Search", :name => nil, :class => "search-button" %>
  <%end%>
  </p>
</div>
  <div id="products-list"> <%= render '/search/search_results'%></div>
   
