<div class="user_header">

    <div class="container_12">

        <div class="description grid_12">
            <h1>Edit Profile</h1>
        </div>

    </div> <!-- Close container_12 -->

</div> <!-- Close header_area -->

<div class="container_12 content">

  <div class="grid_12 edit_profile">
    <%= render 'form' %>
  </div>

</div>
