<a href="#dialog" class="modalLink">Modal Window</a>

<div id="modal">
  <div id="dialog" class="window">
    <div class="contents">
        <h3>Modal Window</h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p> 
        <a href="#" class="close">Close</a>
    </div>
  </div>
</div>