<div class="container_12">
<h1>Welcome to Hoovue</h1>


<h2>Featured Products:</h2>
<% @products.each do |p| %>
<%= link_to p.title, p %>
<% if p.image %>
		<%= image_tag 'default-thumb.png'%>
	<%else%>
		<%= image_tag p.image %>
	<%end%>
	<br />
<%end%>

</div>
