		<div class="more-detail">		
		<h3>Role description: <% if current_user %>			
<% if current_user.id == c.user_id %> <%= link_to "(edit)", role_credits_path(:id => c) %> <% end %> <% end %> </h3><p>  <%= c.role_desc %></p>	
			<h3>Interesting Fact: <% if current_user %>			
<% if current_user.id == c.user_id %>(click text below to edit) <% end %> <% end %>
</h3><p><%= best_in_place c, :fact, :type => :textarea, :nil => "Click me to add content!", :ok_button => 'Save', :cancel_button => 'Cancel' %></p>
		</div>
