<div class="container_12 edit-credit">

<h1>Editing Credit Role</h1>
	<h3 style="color:red;">Warning - changes to your Role or Role Description will need re-validation.</h3>
<%= render 'form' %>

</div>
</div>

