<div class="container_12">
<h1>Editing credit</h1>
	<h3>Warning - changing your role will invalidate your credit.</h3>
<%= render 'form' %>

<%= link_to 'Back', product_path(@credit.product_id) %>
</div>

