.lists {
  .credits {
    h6 a {
      text-decoration: none;
      color: #acbebe;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .project.project-image {
    background: 0 0 no-repeat;
    background-size: cover;
    width: 60px;
  }
}
