@import "mixins.css.scss";

.new-credit {
	@include white-box;
	margin:20px 0 0px 0;
	padding:5px;
	
    h2 {
   	 border-bottom: 1px solid #f1f1f1;
    }
	
	.role, .desc, .issue, .fact {
		input, textarea {
			border:none;
			margin:15px;
			border-bottom:1px solid grey;	
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			box-shadow: none;
			 -webkit-box-shadow: none; 
			 -moz-box-shadow: none; 
			
	}
	
	input:focus{
		box-shadow: none;
		    -webkit-box-shadow: none; 
		    -moz-box-shadow: none;
			border-bottom:1px solid grey; 
		
	}
	
}
	
.role {
	input {
		font-size:20px;	
}
}
		
	
	
	.desc {
		input {
			width:460px;	
	}
	}
		
		
	
	
	.fact {
		textarea {
		border:1px solid grey;
		margin-left:400px;	
		margin-top: -25px;
		}
		
		.counter {
		margin-left:600px;		
		}
	}
	
	.submit {
		input[type=submit] {
		@include white-box;
		padding:10px;	
		}
	}
	
	
}

.credit-validate-container {
	float:left;
	width:800px;
	
}