/* Imports */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic);
@import "bootstrap";

/* Mixins */

$main: #273F4E;

body {
  
  background: #f1f1f1;
  font-family: "Lato", sans-serif;
  
  h1, h2, h3 {
	
    width:100%;
  }
  

  h1 {
     margin: 5px 0 0 0px;
     padding:5px;
     font-size:30px;
     border-bottom: 2px solid $main;
     width:98%;
     color: $main
     
  }
  
 h2 {
   font-size: 25px;
    color: $main;
    margin:15px 5px;
       border-bottom: 1px solid $main;
   
 }
 
 h3 {
   font-size: 20px;
   color: grey;
   font-weight:bold;

 }
  
a:hover {
  background:0;
}

textarea {
 
 width:50%;
  
}
 
.wrapper {


  .yield-wrapper {
	
    padding:0 5px;
    background:white;
	
    p.notice, p.error {
		font-size:25px;
		text-align:center;
		margin: 5px;
		border: 2px solid $main;
		padding:10px 0;
    }
  
   
  }  

  .header, .footer {
    
     width:100%;
     padding:5px;
     color: white;
     background-image: url('/assets/header-bg.png');
     border-bottom: 2px solid grey;
	 height:50px;
     
     .logo {
       float:left;
       width:184px;
       height:47px;
       margin-top:7px;
       padding-left:40px;
     }
     
      .user-navi {
      float:right; 
      height:50px;
      margin: 0px 40px;
      
        .signed-in {
         
         .signed-in-text {
         float:right;   
         margin-top: 10px;
         padding:5px;
              
                }
                
                img {
                 
                  margin:0 2px;
                }
          
          }
      .sign-out {
           float:right;
           background-color: $main;
           margin:-10px -5px 0 0;
           padding:10px;
                  a {
                  text-decoration:none;     
                  }
                  a:hover {
                    text-decoration:underline;
                    background-color: none;
                    
                    
                  }
                }   
      
        .login {
            a#login_with_facebook {
            float:left;
            width:163px;
            height:29px;
            background-image: url('/assets/application/login_with_facebook.png');
            margin-top: 15px;
                                  }
             
        }    
      
                 } 
    
      a {
        color :white;
        }  

         }
  
  .footer {
    text-align:center;
    margin-top:20px;
	width:100%;
	height:40px;
	padding:5px 0 0 0;
	margin:0;
  }  
  
  .main-navi{
	  float:left;
  	  width:280px;
	  height:20px;
	  margin: 10px 10px 0 10px;
    
    ul {
      list-style-type:none;
      margin-left: 10px;
     
      li {
        float:left;
        padding:10px;
        margin-right:4px;
        height:40px;
        a {
          color:white;
         
        }
        
        img {
          margin-top:-5px;
        }
        
          li:hover {
             background: url('/assets/header-bg-hover.png');
          }
        
      }
    }
  }
  
  
a.blue-link, input.blue-link, a.grey-link, a.add_fields, a.remove_fields, input#blue-link, a.remove, a.remove-credit {
    
  float:left;  
  background-color:#3A3A3A;
  margin:15px 5px 15px 0px;
  background: #00a4ff url("/assets/arrow_white_long.png") no-repeat right center;
  color: white;
  padding: 7px 20px 7px 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
  border: 1px solid #0093E5;

}

a.remove, a.remove-credit {
  float:right;
  margin-top:-12px;
  padding:none;
      background-color: #d2d2d2;
    color: black;
    border:none;
}

a.remove-credit {
  margin-top: 0px;
}

input#blue-link {
  float:none;
  background-image: none;
  width:100%;
 font-size:12px;
 font-weight:400;
 letter-spacing:3px;
}

a.blue-link:hover, a.add_fields, input#blue-link:hover {

 background-color: #009DF5;

}

a.grey-link, a.remove_fields, {
    background-color: #d2d2d2;
    color: black;
    border:none;
    margin-top:0px;
    
}

a {
    color: #00A4FF;
}


.field_with_errors {
  display: inline;
}

form .field, form .actions {
  margin: 12px 0;
}

fieldset {
  border: none;
  border: solid 1px #fff;
  padding: 15px 15px 5px;
  margin: 15px 0;
  width:95%;
  position: relative;
  .remove_fields {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 12px;
  }
}

.actions {
float:left;
width:900px;
}
        }  
      }
      
      
.search {
  position:relative;
  z-index:1000;
  top:10px;
  
  input {
    width:240px;
      padding:6px 15px 6px 35px;
       margin:3px;
  background: url('/assets/search.png') no-repeat 8px 6px;
  -webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
  }
  
  .search-button {
    margin-left:-15px;
    padding: 7px 0;
    background: #568001;
    color:white;
    border:none;
    width:80px;
    
  }
      
span.ui-helper-hidden-accessible {
  display:none;
}   


}

/* Modal */


  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }

  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }

  .close {
    background: #fff;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { background: #00d9ff; }
