/* Imports */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic);
@import "bootstrap";
@import "mixins.css.scss";



/* Mixins */

$main: #808080;

body.old {
  
  background: url(body-bg.png);
  font-family: "Lato", sans-serif;
  font-size:16px;

  
  h1, h2, h3 {
   font-weight:200;
   color:#777;
   text-shadow:0 1px 0 #fff;
   ;
  }
  

  h1 {
	 
	 font-size:30px; 
     margin: 5px 0 0 0px;
     padding:5px;
	 width:98%;
     color: $main
     
  }
  
 h2 {
     font-size: 25px;
	 margin:15px 0px;
	 
 }
 
 h3 {
   font-size: 16px;
   color: grey;
   font-weight:bold;

 }
  
a:hover {
  background:0;
}

p.shadow {
	  text-shadow:0 1px 0 #f1f1f1;
	padding:5px;
}

p.small {
	font-size:12px;
	
	font-style:italic;
}

textarea {
 
 width:50%;
  
}

.white-box {
	@include white-box;
	padding:5px;
	margin:5px;
}

.grey-box {
	@include grey-box;
	padding:5px;
	margin:5px;
}
 
.wrapper {


  .yield-wrapper {
	
    padding:0 5px;
   
	
    p.notice, p.error {
		font-size:25px;
		text-align:center;
		margin: 15px;
		@include white-box;
		padding:10px 0;
		color:red;
    }
  
   
  }  

  .header {
  min-height:40px;
  padding-right:20px;
  padding-left:20px;
  @include grey-box;
 
  
     
     .logo {
       display:block;
	   float:left;
	   padding:15px 20px 10px;
	   margin-left:-20px;
	   font-size:20px;
	   font-weight:200;
	   color:#777;
	   text-shadow:0 1px 0 #fff;
     }
     
      .user-navi {
      float:right; 
      height:50px;
      margin: 0px 10px;
      
        .signed-in {
         
         .signed-in-text {
         float:right;   
         margin-top: 10px;
         padding:5px;
              
                }
                
                img {
                 
                  margin:0 2px;
                }
          
          }
      .sign-out {
           float:right;
           background-color: $main;
           margin:-10px -5px 0 0;
           padding:10px;
                  a {
                  text-decoration:none;     
                  }
                  a:hover {
                    text-decoration:underline;
                    background-color: none;
                    
                    
                  }
                }   
      
        .login {
            a#login_with_facebook {
            float:left;
            width:163px;
            height:29px;
            background-image: url('/assets/application/login_with_facebook.png');
            margin-top: 10px;
                                  }
					              a#login_with_linkedin {
					              float:left;
					              width:163px;
					              height:29px;
					              background-image: url('/assets/application/login_with_linkedin.png');
					              margin-top: 10px;
								  margin-left:15px;
					                                    }
														
											            a#login_with_twitter {
											            float:left;
											            width:163px;
											            height:29px;
											            background-image: url('/assets/application/login_with_twitter.png');
											            margin-top: 10px;
														  margin-left:15px;
											                                  }					  
             
        }    
      
                 } 
    
      a {
       color:#777;
        }  

         }
  
  .footer {
    text-align:center;
    margin:20px 0;
	width:100%;
	height:40px;
	padding:5px 0 0 0;
	max-height:25px !important;
	@include grey-box;
  }  
  
  .main-navi{
	  float:left;
  	  width:310px;
	  height:20px;
	  margin: 12px 10px 0 -25px;
    
    ul {
      list-style-type:none;
      margin-left: 5px;
     
      li {
        float:left;
        padding:5px;
        margin-right:4px;
        height:40px;
        a {
         
         
        }
        
        img {
          margin-top:-5px;
        }
        
          li:hover {
             background: url('/assets/header-bg-hover.png');
          }
        
      }
    }
  }
  
  
a.blue-link, input.blue-link, a.grey-link, a.add_fields, a.remove_fields, input#blue-link, a.remove, a.remove-credit {
    
float:left; 
  @include white-box;
  margin:15px 5px 5px 0px;
  background: url("/assets/arrow_white_long.png") no-repeat right center;
  font-size: 14px;
  font-weight: 100;
  padding:10px 20px 10px 10px;
 

}

a.remove, a.remove-credit {
  float:right;
  margin-top:-12px;
  padding:none;
      background-color: #d2d2d2;
    color: black;
    border:none;
}

a.remove-credit {
  margin-top: 0px;
}

input#blue-link {
  float:none;
  background-image: none;
  width:100%;
 font-size:12px;
 font-weight:400;
 letter-spacing:3px;
}

a.blue-link:hover, a.add_fields, input#blue-link:hover {


}

a.grey-link, a.remove_fields, {
    background-color: #d2d2d2;
    color: black;
    border:none;
    margin-top:0px;
    
}

a {
    color: #00A4FF;
}


.field_with_errors {
  display: inline;
}

form .field, form .actions {
  margin: 12px 0;
}

fieldset {
  border: none;
  border: solid 1px #fff;
  padding: 15px 15px 5px;
  margin: 15px 0;
  width:95%;
  position: relative;
  .remove_fields {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 12px;
  }
}

.actions {
float:left;
width:900px;
}
        }  
      }
      
      
.search {
  position:relative;
  z-index:1000;
  top:10px;
  
  input {
    width:240px;
    padding:6px 15px 6px 6px;
    margin:3px;
 	@include white-box;
  }
  
  .search-button {
    margin-left:-15px;
    padding: 7px 0;
    background: $main;
	color:white;
    border:none;
    width:80px;
    
  }
      
span.ui-helper-hidden-accessible {
  display:none;
}   


}

.ui-helper-hidden-accessible {
  display:none;
} 

/* Modal */


  .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }


#slidingDiv_add_new {
	float:left;
	margin-bottom:50px;
	margin-top:80px !important;
	margin-bottom:30px !important;
}

.add_credit {
	position: relative;
}
  .add_credit, #slidingDiv_add_new {
    width: 600px;
    margin: 1% auto;
    padding: 5px 20px 13px 20px;
    margin-top:0px;
	background-color:#E5EAED;
	
	

	input, textarea {
		height:40px;
		width:300px;
	    max-width:600px;
		-webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    border-radius: 0px;
		border:none;
	}
	
	input#credit_role_desc {
		width:650px;
	}
	
	textarea {
		width:680px;
		height:200px;
	}
	
	input.submit {
		background-color: #00ADEF;
		margin-top:10px;
		color:white;
	}
	
	a {
		width:100%;
		height:20px;
		color:white;
		text-transform:uppercase;
		padding:10px 10px;
		background-color:#00AEEF;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin:5px 0;
	}
	
	

  }

  #close, .close {
    background: #000;
    color: #FFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { background: #000; }
  
  .help-box {
  width:400px;
  float:right;
  padding:15px;
  border: 1px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height:150%;
  font-size:14px;
  margin:20px;

  }

  .help-box h4, label {
  background:grey;
  color:white;
  padding:5px;
  margin-top:-10px;
  text-align:center;
  }
  
  
  label {
	  width:100%;
	  padding:3px;
	  font-size:14px;
	  text-align:left;
	  background:none;
	  color:black;
  }

#new_message {
  margin-top: 20px;
  
  label {
    float: left;
  }
}