@import "mixins.css.scss";

ul.product-list {
	float:left;
	width:280px;
  list-style-type:none;
  margin-left: 20px;
  
  h3.ul {
 margin-left:40px;
  }
  
  li {
	  width: 150px;
    height: 130px;
    padding: 5px;
    margin: 10px 30px;
   @include white-box;
    
    h3 {
      
      font-size: 13px;
      line-height: 10px;
      text-align: center;
      
    }
    
    img {
		margin-top:10px;
		margin-left:10px;
    }
  }
  
  
  
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
} 

.user-credit {
  float:left;
   border: none;
  border: solid 1px #e1e1e1;
  padding: 15px 15px 5px;
  margin: 15px 0;
  width:80%;
  font-size:16px;
  
  .role {
    float:left;
  }
  
  .status {
    float:left;
    margin-left:25px;
      strong {
        color:green;
      }
  }
}

.card-status {
	.un, .part, .valid {
	float:right;	
	font-size:20px;	
	margin:5px;
	}
	
	.un {
		color:red;
	}
	
	.part {
		color:orange;
	}
	
	.valid {
		color:green;
	}
}

.credits-form {

   ul {
  margin-top:10px;
  list-style:none;
 
    
    li.odd, li.even {
	float:left;	
    font-size:14px;
    padding: 5px 10px;  
    width:90%;
	@include white-box;
    margin: 5px 0 0 20px;
 
    h2 {
   	 border-bottom: 1px solid #f1f1f1;
	 margin-top:40px;
    }
     .right {
       float:right;
	  
	 
     }
	 
	 .score {
		 float:right;
		 @include grey-box;
		 padding:10px 15px;
		 height:40px;
		 margin-left:5px;
		 text-align: center;
		 cursor: pointer;
	 }
	 
	 .validator-text {
		 float:right;
		 margin-top:70px;
		 margin-right:-200px;
		 color:red;
	 }
	 
	 .flag, .validate {
		 float:right;
		 @include grey-box;
		 padding:3px 7px;
		 font-size:12px;
	 }
	 
	.or {
		float:right;
		padding:5px;
	} 
	 .more-detail {
		 width:600px;
		 margin-top:-80px;
	 }
	 
    }
    
    li.even {
     
    }
  
    
    li:hover {
      
     
    }
  }
}

.slidingDiv {
    height:350px;

    
}
 
 
.user-works {
	ul {
		
		li.odd, li.even {
			width:90%;
		}
		
	}
}

.details {
	margin-top:-80px;
}

