<p>Hi</p>

<p><%= @from_user.name %> has invited you to the <%= link_to "whoactually.com", root_url %> team that worked on <%= link_to @product.title, product_url(@product) %>. Login and add your roles and stories</p>
