 <h1>Listing your additional Email Addresses</h1>
 <div class="white box">
 	
 
 <table>
   <tr>
     <th>Email</th>
   
     <th></th>
   </tr>
 
 <% @emails.each do |email| %>
   <tr>
     <td><%= email.email %></td>
 	<td><%= link_to 'Delete', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
 <% end %>
 </table>
 
 <br />
 
 <%= link_to 'Add New Email', new_email_path %>
 </div>
