<h2>Credits</h2> <br />

<ul>
<% @credit_views.each do |c|%>
<li class="<%= cycle('even', 'odd') -%>"><%= link_to c.user.name, user_path(c.user.id) %><div class="right"><strong> <%= c.role%> </strong></div> <% button_to 'Validate', credit_validations_path(:credit_id => c.id), :remote => true, :disable_with => 'Validated.' %></li>
<%end%>
</ul>
