<ul class="product-list">
<% @products.each do |p| %>
<%= link_to p do %>
<li class="product-list">
	<% if p.image.blank? %>
		<%= image_tag 'default-small.png'%>
	<%else%>
		<%= image_tag p.image.small %>
	<%end%>
<h3> <%= p.title %></h3>

</li>
<%end%>
<%end%>
</ul>