<p>Someone has verified your credit on whoactually.</p>

<p>Please visit your <a href="http://www.whoactually.com">homepage</a> to find out who it was and accept or delete the verifcation.</p>

<a href="htp://www.whoactually.com">Whoactually.com</a>
